<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CAPTURE" class="org.grano22.dev.githubscanner.cli.framework.SpringOutputAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CAPTURE" />
    </root>
</configuration>
